.current-weather{
    padding: 20px 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h3{
    color: #4ea0ff;
}

.header h4{
    color: #4ea0ff;
}

.main-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weather-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}